parameters:
    level: 6
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml
    scanDirectories:
        - var/cache/dev/Symfony/Config
    excludePaths:
        - tests/Support/_generated/AcceptanceTesterActions.php
        - src/ExternalService/TaxBee/TaxBee.php
